
<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="Partials/Layout/_Head" />
</head>


<body data-new-gr-c-s-check-loaded="14.1080.0" data-gr-ext-installed="">
    @RenderBody();
    <div id="app" data-v-app="">
        <div class="v-application v-theme--light v-layout v-layout--full-height v-locale--is-ltr" style="z-index: 1000; --v-global-theme-primary: 105,108,255;">
            <div class="v-application__wrap">
                <div data-v-5e2e69e4="" class="layout-wrapper layout-nav-type-vertical layout-navbar-static layout-footer-static layout-content-width-fluid layout-overlay-nav">
                    <partial name="Partials/Layout/_Sidebar" />
                    <div class="layout-content-wrapper">
                        <partial name="Partials/Layout/_Header" />
                        <main class="layout-page-content">
                            <div class="page-content-container">
                                <div class="v-row">
                                    <partial name="Partials/Layout/_FeaturedSingle"/>

                                    <partial name="Partials/Layout/_FeaturedPost"/>
                                    <partial name="Partials/Layout/_FeaturedLast3Cards" />

                                </div>
                            </div>
                        </main>
                        <footer>
                            <partial name="Partials/Layout/_Footer" />
                        </footer>

                    </div>
                </div><a data-v-850638f8="" class="v-btn v-btn--elevated v-theme--light bg-error v-btn--density-default v-btn--size-default v-btn--variant-elevated product-upgrade-to-pro" href="https://themeselection.com/item/sneat-vuetify-vuejs-admin-template/" target="_blank" rel="noopener noreferrer" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-1"><span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""> Upgrade to Pro <!----></span><!----><!----></a>
            </div>
        </div>
    </div>
    <script>
        const loaderColor = localStorage.getItem('sneat-initial-loader-bg') || '#FFFFFF'
        const primaryColor = localStorage.getItem('sneat-initial-loader-color') || '#696CFF'

        if (loaderColor)
            document.documentElement.style.setProperty('--initial-loader-bg', loaderColor)

        if (primaryColor)
            document.documentElement.style.setProperty('--initial-loader-color', primaryColor)
    </script>



    <div class="v-overlay-container"><!----><div class="v-overlay v-overlay--absolute v-theme--light v-locale--is-ltr v-tooltip" id="v-tooltip-7" role="tooltip" style="z-index: 2000;"><!----><div class="v-overlay__content" target="[object HTMLButtonElement]" style="min-width: 0px; display: none;"><span class="text-capitalize">light</span></div></div><!----><!----><!----><!----></div>
    <svg id="SvgjsSvg1265" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
        <defs id="SvgjsDefs1266"></defs>
        <polyline id="SvgjsPolyline1267" points="0,0"></polyline>
        <path id="SvgjsPath1268" d="M-1 228.89L-1 228.89C-1 228.89 46.714285714285715 228.89 46.714285714285715 228.89C46.714285714285715 228.89 93.42857142857143 228.89 93.42857142857143 228.89C93.42857142857143 228.89 140.14285714285714 228.89 140.14285714285714 228.89C140.14285714285714 228.89 186.85714285714286 228.89 186.85714285714286 228.89C186.85714285714286 228.89 233.57142857142858 228.89 233.57142857142858 228.89C233.57142857142858 228.89 280.2857142857143 228.89 280.2857142857143 228.89C280.2857142857143 228.89 327 228.89 327 228.89C327 228.89 327 228.89 327 228.89 "></path>
    </svg>
</body>

</html>
