<section class="ftco-section ftco-no-pb" id="education-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-10 heading-section text-center ftco-animate">
				<h1 class="big big-2">Education</h1>
				<h2 class="mb-4">Education</h2>
				<p>Learning with Passion and Purpose.</p>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				<div class="resume-wrap ftco-animate">
					<span class="date">3/2023 - 7/2024</span>
					<h2>Full Stack Developer </h2>
					<span class="position">Siliconmade Academy</span>
					<p class="mt-4">HTML, CSS, JavaScript, Bootstrap, GitHub, WEB API, ASP.NET Core, ORM & EF Core, SQL Server, ASP.NET Core MVC, Authentication and Authorization, JWT, Publish and Deployment, Algorithms, LINQ Library, XML, Json, Cookies</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate" style="height: 380px;">
					<span class="date">2018 – 2022</span>
					<h2>Molecular Biology And Genetic - Bachelor's Science Degree</h2>
					<span class="position">Afyon Kocatepe University - Uniwersytet im. Adama Mickiewicza</span>
					<p class="mt-4">
						R Programming - Bioinformatic - Statistics - Microsoft Office Programs
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate" style="height: 380px;">
					<span class="date">2014-2018</span>
					<h2>Nursing Assistant</h2>
					<span class="position">Prof. Dr. Ragip Uner Vocational and Technical Anatolian High School </span>
					<p class="mt-4">Hospital Web Services – Computer Technologies</p>
				</div>
			</div>

		</div>
	</div>
</section>