<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p>@ViewBag.About</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#home-section"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                        <li><a href="#about-section"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                        <li><a href="#resume-section"><span class="icon-long-arrow-right mr-2"></span>Resume</a></li>
                        <li><a href="#education-section"><span class="icon-long-arrow-right mr-2"></span>Education</a></li>
                        <li><a href="#services-section"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
                        <li><a href="#projects-section"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
                        <li><a href="#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Web Design</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Web Development</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Business Strategy</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Data Analysis</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Graphic Design</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">London , UK</span></li>
                            <li><a href="mailto:fatmanurjackiewicz@gmail.com?subject=HireMe%20Subject&body=This%20email%20is%20for%20working%20together%20request."><span class="icon icon-envelope"></span><span class="text">fatmanurjackiewicz@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    This template is made with fun, enthusiasm, patience, blood, tears, sweat and, love
                    <i class="icon-heart color-danger" aria-hidden="true"></i>
                    by <a href="mailto:fatmanurjackiewicz@gmail.com?subject=HireMe%20Subject&body=This%20email%20is%20for%20working%20together%20request." target="_blank">Fatmanur Jackiewicz</a>
                </p>
                <p>
                    - Thanks to <a href="https://github.com/ahmeetkocc" target="_blank">Ahmet Koc</a> for his contributions. -
                </p>
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>

            </div>
        </div>
    </div>
</footer>