<section class="ftco-section ftco-project" id="projects-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h1 class="big big-2">Projects</h1>
				<h2 class="mb-4">My Projects</h2>
				<p>A collection of my work, where creativity meets functionality.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-4.jpg);">
					<div class="overlay"></div>
					<div class="text text-center p-4">
						<h3><a href="https://github.com/FatmanurJackiewicz/WebsiteProject" target="_blank">FullStack Responsive - Admin - Client - Management Design</a></h3>
						<span>FullStack Design</span>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-5.jpg);">
					<div class="overlay"></div>
					<div class="text text-center p-4">
						<h3><a href="https://github.com/FatmanurJackiewicz/RealPhone" target="_blank">Branding &amp; Illustration Design</a></h3>
						<span>Web Design</span>
					</div>
				</div>
			</div>

			<div class="col-md-8">
				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-1.jpg);">
					<div class="overlay"></div>
					<div class="text text-center p-4">
						<h3><a href="https://github.com/FatmanurJackiewicz/WebProject-DataAPI" target="_blank">DATA Management</a></h3>
						<span>Backend Design</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/project-3.jpg);">
					<div class="overlay"></div>
					<div class="text text-center p-4">
						<h3><a href="https://github.com/FatmanurJackiewicz/ExpandingCards" target="_blank">FrontEnd Design</a></h3>
						<span>FrontEnd Design</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>