<section class="ftco-section ftco-no-pb" id="resume-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-10 heading-section text-center ftco-animate">
				<h1 class="big big-2">Resume</h1>
				<h2 class="mb-4">Resume</h2>
				<p>Dedicated to continuous learning, I constantly enhance my skills in full stack development to stay ahead in the ever-evolving tech landscape.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="resume-wrap ftco-animate">
					<span class="date">2022-2024</span>
					<h2>Clinical Support Specialist</h2>
					<span class="position">Rhythm Management Group </span>
					<p class="mt-4">
						Salesforce, Biotronik, Boston Scientific & Abbott servers
						Microsoft Office Programs
						- Assist pacemaker, loop recorder and ICD evaluations per protocol to
						assure normal device function.
						- Data Privacy Basics Certificate
						- Data Protection Essentials Certificate
						- Internet Security and You Certificate
						- Security Awareness Foundations Certificate
						- Sexual Harassment in the Workplace Certificate
						- Social Engineering and Flags Certificate
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate" style="height:310px;">
					<span class="date">2022</span>
					<h2>Behavioral Biology - Internship</h2>
					<span class="position">Mareterra Onlus - Progetto Natura</span>
					<p class="mt-4">
						Photo identification with Darwin software
						GPS and GIS when observing dolphins
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="resume-wrap ftco-animate" style="height:310px;">
					<span class="date">2021</span>
					<h2>Pathology – Internship</h2>
					<span class="position">Private Gunes Pathology Laboratory</span>
					<p class="mt-4">
						Microbiology and Macrobiology departments I was working on tumor, cancer, prepping samples, examining, and archiving.
					</p>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="col-md-6 text-center ftco-animate">
					<p><a href="/ResumeFatmanurJackiewicz.pdf" class="btn btn-primary py-3 px-3" target="_blank">Download CV</a></p>
				</div>
			</div>
		</div>
	</div>
</section>