<section class="ftco-about img ftco-section ftco-no-pb" id="skill-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col pl-lg-5 pb-5">
				<div class="row justify-content-start pb-3">
					<div class="col-md-12 heading-section ftco-animate">
						<h1 class="big">SKILLS</h1>
						<h2 class="mb-4">SKILLS</h2>
						<ul class="skills-info p-0" style="display: flex; flex-wrap: wrap; list-style-type: none;">
							<li class="pl-4">CSS</li>
							<li class="pl-4">C++</li>
							<li class="pl-4">HTML</li>
							<li class="pl-4">JAVASCRIPT</li>
							<li class="pl-4">C#</li>
							<li class="pl-4">WEB API</li>
							<li class="pl-4">MVC</li>
							<li class="pl-4">GitHub</li>
							<li class="pl-4">Bootstrap</li>
							<li class="pl-4">VISUAL STUDIO</li>
							<li class="pl-4">R PROGRAMMING</li>
							<li class="pl-4">EXCEL</li>
							<li class="pl-4">MICROSOFT OFFICE</li>
							<li class="pl-4">TABLEU</li>
							<li class="pl-4">PHYTON</li>
							<li class="pl-4">DARWIN SOFTWARE</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>