<div class="card-group mb-5" style="cover; border: 2px solid black;">
    <div class="card"">
        <a href="@Url.Action("AboutMeDetails", "AboutMeAdmin")">
        <img class="card-img-top" src="../assets/img/elements/4.jpg" style="cover; border: 1px solid orange;" />
        <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">
                Click this card to go to ABOUT ME page to edit and view.
            </p>
        </a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
    <a href="@Url.Action("PersonalInfoDetails", "PersonalInfoAdmin")">
        <img class="card-img-top" src="../assets/img/elements/5.jpg" style="cover; border: 1px solid orange;"/>
        <div class="card-body">
            <h5 class="card-title">Personal Info</h5>
            <p class="card-text">
                Click this card to go to PERSONAL INFO page to edit and view.
            </p>
        </div>
    </a>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
    <a href="">
        <img class="card-img-top" src="../assets/img/elements/1.jpg" style="cover; border: 1px solid orange;"/>
        <div class="card-body">
            <h5 class="card-title">HBURASI BOŞ</h5>
            <p class="card-text">
                Click this card to go to DASHBOARD to view.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </a>
    </div>
</div>
