<h4 class="mb-1">Welcome to sneat! 👋</h4>
<p class="mb-6">Henüz bir personal info sayfanız yok oluşturmak ister misiniz?</p>


<a asp-controller="PersonalInfoAdmin" asp-action="CreatePersonalInfo" class="site-btn mr-2">
	<button class="btn btn-primary me-3">Yeni oluştur!</button>
</a>