@using AdminPanelMVC.Models.Skills;
@model CreateSkillsViewModel;

<form method="post" id="formAuthentication" class="mb-6" asp-controller="SkillsAdmin" asp-action="CreateSkills">

    <div class="mb-6">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="Enter your skills"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <button id="add-input-btn" type="button" class="btn btn-primary mt-3">
            + Add Skills
        </button>
    </div>

    <div class="mb-6">
        <button type="submit" class="btn btn-warning me-3 mt-2">Create</button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        // Buton ve input container'ını seç
        var addButton = document.getElementById("add-input-btn");
        var inputContainer = document.getElementById("input-container");

        // Butona tıklanınca yeni bir input ekle
        addButton.addEventListener("click", function () {
            // Yeni bir input alanı oluştur
            var newInput = document.createElement("input");
            newInput.type = "text";
            newInput.name = "dynamicInputs[]"; // Aynı isimle birden fazla input gönderme
            newInput.className = "form-control mt-2"; // Bootstrap class for styling

            // Input alanını container'a ekle
            inputContainer.appendChild(newInput);
        });
    </script>
}