<h4 class="mb-1">Welcome to sneat! 👋</h4>
<p class="mb-6">You don't have a skill yet. Would you like to create one?</p>


<a asp-controller="SkillAdmin" asp-action="CreateSkills" class="site-btn mr-2">
	<button class="btn btn-primary me-3">Create!</button>
</a>