@using AdminPanelMVC.Models.AuthAdmin;
@model RegisterViewModel;


<!-- Register Yeni START-->
<div class="card mb-4">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h5 class="mb-0">Basic Layout</h5>
		<small class="text-muted float-end">Default label</small>
	</div>
	<div class="card-body">
		<form>
			<div class="mb-3">
				<label class="form-label" for="basic-default-fullname">Full Name</label>
				<input type="text" class="form-control" id="basic-default-fullname" placeholder="John Doe" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="basic-default-company">Company</label>
				<input type="text" class="form-control" id="basic-default-company" placeholder="ACME Inc." />
			</div>
			<div class="mb-3">
				<label class="form-label" for="basic-default-email">Email</label>
				<div class="input-group input-group-merge">
					<input type="text"
						   id="basic-default-email"
						   class="form-control"
						   placeholder="john.doe"
						   aria-label="john.doe"
						   aria-describedby="basic-default-email2" />
					<span class="input-group-text" id="basic-default-email2">@@example.com</span>
				</div>
				<div class="form-text">You can use letters, numbers & periods</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="basic-default-phone">Phone No</label>
				<input type="text"
					   id="basic-default-phone"
					   class="form-control phone-mask"
					   placeholder="658 799 8941" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="basic-default-message">Message</label>
				<textarea id="basic-default-message"
						  class="form-control"
						  placeholder="Hi, Do you have a moment to talk Joe?"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</form>
	</div>
</div>
<!-- Register Yeni END -->

<div class="v-card v-theme--light v-card--density-default v-card--variant-elevated auth-card pa-4 pt-7" style="max-width: 448px;">
	<div class="v-card__loader">
		<div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px; left: 50%; transform: translateX(-50%);">
			<div class="v-progress-linear__background" style="width: 100%;"></div>
			<div class="v-progress-linear__indeterminate">
				<div class="v-progress-linear__indeterminate long"></div>
				<div class="v-progress-linear__indeterminate short"></div>
			</div>
		</div>
	</div>

	<div class="v-card-item justify-center">
		<div class="v-card-item__prepend">
			<div class="d-flex">
				<div class="d-flex text-primary">
					<svg width="22" height="32" viewBox="0 0 55 81" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill="currentColor" d="M30.1984 0.0144043C24.8945 0.425781 25.2534 6.16968 26.6435 7.65326C22.693 10.3649 13.1875 16.8867 6.76944 21.2803C1.21531 25.0824 -0.842975 34.6064 1.11159 40.8262C3.00952 46.8658 12.4904 51.3615 17.5337 52.7256C17.5337 52.7256 11.7188 56.0269 6.60358 60.0482C1.48831 64.0695 -0.622615 69.3436 3.06836 75.262C6.75933 81.1805 12.725 80.761 17.5257 78.6229C22.3264 76.4848 32.1683 69.1692 37.9402 65.1633C42.7282 61.5411 43.9669 53.6444 41.7631 46.9643C39.9758 41.5468 30.0969 36.4284 25.1792 34.6064C27.1946 33.1595 32.4935 29.4242 37.129 26.0909C38.7184 30.5636 43.9998 30.212 45.6103 27.8209C47.6216 23.4326 51.8339 13.4663 53.9579 8.55175C54.8862 4.81044 52.5639 2.78457 50.2227 2.35938C46.8672 1.75 38.3222 0.960115 30.1984 0.0144043Z"></path>
						<path fill-opacity="0.2" fill="#FFF" d="M26.6523 7.65625C24.9492 5.625 25.3239 0.255308 30.2922 0.0105286C33.0074 0.326611 35.7804 0.62685 38.3907 0.909477C43.5904 1.47246 48.1446 1.96556 50.311 2.3748C52.7331 2.83234 54.886 5.06072 53.9543 8.61103C53.2063 10.3418 52.2075 12.6646 51.1482 15.1282C49.1995 19.6601 47.0459 24.6685 45.8717 27.3445C44.7224 29.964 39.111 31.0585 37.1137 26.0951C32.4782 29.4283 27.2884 33.1556 25.273 34.6026C24.931 34.4553 24.3074 34.2381 23.5124 33.9613C20.8691 33.0407 16.331 31.4602 13.9477 29.5966C9.61363 25.5918 11.6259 19.4662 13.1737 16.904C17.8273 13.7183 20.7417 11.7161 23.4984 9.82236C24.5437 9.10427 25.5662 8.40178 26.6523 7.65625Z"></path>
						<path fill-opacity="0.2" fill="#FFF" d="M17.543 52.7266C21.2241 53.9875 28.5535 57.0509 30.091 59.101C32.0129 61.6635 33.1576 64.34 29.2527 71.2039C28.5954 71.6481 27.9821 72.0633 27.4069 72.4528C22.1953 75.9817 20.1085 77.3946 16.6243 79.0531C13.5855 80.2464 6.61575 81.7103 2.66559 74.5653C-1.11764 67.7222 3.23818 62.7113 6.5963 60.065L12.1695 56.0339L14.8359 54.3477L17.543 52.7266Z"></path>
					</svg>
				</div>
			</div>
		</div>

		<div class="v-card-item__content">
			<div class="v-card-title text-2xl font-weight-bold">Sneat</div>
		</div>
	</div>

	<div class="v-card-text pt-2">
		<h5 class="text-h5 mb-1">Adventure starts here 🚀</h5>
		<p class="mb-0">Make your app management easy and fun!</p>
	</div>

	<div class="v-card-text">
		<form asp-controller="AuthAdmin" asp-action="Register" method="post" class="v-form">
			<div class="v-row">
				<div class="v-col v-col-12">
					<div class="v-input v-input--horizontal v-input--center-affix v-input--density-default v-text-field">
						<div class="v-input__control">
							<div class="v-field v-field--center-affix v-field--variant-outlined v-theme--light v-locale--is-ltr" role="textbox">
								<div class="v-field__field">
									<label class="v-label v-field-label" asp-for="Username" id="input-49">Username</label>
									<input asp-for="Username" autofocus placeholder="Johndoe" size="1" type="text" id="input-49" aria-describedby="input-49-messages" class="v-field__input">
									<span asp-validation-for="Username" class="text-danger"></span>
								</div>
								<div class="v-field__outline">
									<div class="v-field__outline__start"></div>
									<div class="v-field__outline__notch">
										<label class="v-label v-field-label v-field-label--floating" aria-hidden="true" for="input-49">Username</label>
									</div>
									<div class="v-field__outline__end"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="v-col v-col-12">
					<div class="v-input v-input--horizontal v-input--center-affix v-input--density-default v-text-field">
						<div class="v-input__control">
							<div class="v-field v-field--center-affix v-field--variant-outlined v-theme--light v-locale--is-ltr" role="textbox">
								<div class="v-field__field">
									<label class="v-label v-field-label" for="input-51" asp-for="Email">Email</label>
									<input asp-for="Email" placeholder="johndoe@email.com" size="1" type="email" id="input-51" aria-describedby="input-51-messages" class="v-field__input">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="v-field__outline">
									<div class="v-field__outline__start"></div>
									<div class="v-field__outline__notch">
										<label class="v-label v-field-label v-field-label--floating" aria-hidden="true" for="input-51">Email</label>
									</div>
									<div class="v-field__outline__end"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="v-col v-col-12">
					<div class="v-input v-input--horizontal v-input--center-affix v-input--density-default v-text-field">
						<div class="v-input__control">
							<div class="v-field v-field--center-affix v-field--variant-outlined v-theme--light v-locale--is-ltr" role="textbox">
								<div class="v-field__field">
									<label class="v-label v-field-label" for="input-53" asp-for="Password">Password</label>
									<input asp-for="Password" placeholder="············" size="1" type="password" id="input-53" aria-describedby="input-53-messages" class="v-field__input">
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="v-field__append-inner">
									<svg xmlns="http://www.w3.org/2000/svg" role="button" class="v-icon notranslate v-theme--light v-icon--size-default v-icon--clickable" aria-label="Password appended action" width="1em" height="1em" viewBox="0 0 24 24">
										<path fill="currentColor" d="M12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3c1.641 0 3-1.358 3-3c0-1.641-1.359-3-3-3z"></path>
										<path fill="currentColor" d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316l-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5c-.504 1.158-2.578 5-7.926 5z"></path>
									</svg>
								</div>
								<div class="v-field__outline">
									<div class="v-field__outline__start"></div>
									<div class="v-field__outline__notch">
										<label class="v-label v-field-label v-field-label--floating" aria-hidden="true" for="input-53">Password</label>
									</div>
									<div class="v-field__outline__end"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="v-col v-col-12">
					<div class="v-input v-input--horizontal v-input--density-default v-checkbox">
						<div class="v-input__control">
							<div class="v-field v-field--inline v-field--variant-outlined v-theme--light v-locale--is-ltr">
								<div class="v-field__field">
									<input type="checkbox" class="v-checkbox__input" id="checkbox-57">
									<label class="v-label v-field-label v-field-label--floating" for="checkbox-57">I agree to privacy policy & terms</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="v-col v-col-12">
					<button type="submit" class="v-btn v-btn--contained theme--light primary">
						<span class="v-btn__content">Sign Up</span>
					</button>
				</div>

				<div class="v-col v-col-12">
					<button type="button" class="v-btn v-btn--outlined theme--light primary">
						<span class="v-btn__content">Sign In</span>
					</button>
				</div>

				<div class="v-col v-col-12">
					<button type="button" class="v-btn v-btn--outlined theme--light primary">
						<span class="v-btn__content">Sign Up with Facebook</span>
					</button>
				</div>

				<div class="v-col v-col-12">
					<button type="button" class="v-btn v-btn--outlined theme--light primary">
						<span class="v-btn__content">Sign Up with Google</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>