<div class="v-col-sm-6 v-col-md-4 v-col-12 order-3">
    <div data-v-23fce73e="" class="v-card v-theme--light v-card--density-default v-card--variant-elevated">
        <!----><div class="v-card__loader">
            <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px; left: 50%; transform: translateX(-50%);">
                <!---->
                <div class="v-progress-linear__background" style="width: 100%;"></div><div class="v-progress-linear__indeterminate">
                    <div class="v-progress-linear__indeterminate long"></div>

                    <div class="v-progress-linear__indeterminate short"></div>
                </div><!---->
            </div>
        </div><!----><!----><div data-v-23fce73e="" class="v-card-item pb-3">
            <!----><div class="v-card-item__content">
                <!----><!----><div data-v-23fce73e=""
                                   class="v-card-title mb-1">
                    Order Statistics
                </div><div data-v-23fce73e="" class="v-card-subtitle">42.82k Total Sales</div>
            </div><div class="v-card-item__append">
                <div data-v-23fce73e="" class="me-n3 mt-n8">
                    <button data-v-23fce73e="" type="button" class="v-btn v-btn--icon v-theme--light text-default v-btn--density-default v-btn--size-small v-btn--variant-text" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-19"><span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24" style="font-size: 24px; height: 24px; width: 24px;"><path fill="currentColor" d="M10 10h4v4h-4zm0-6h4v4h-4zm0 12h4v4h-4z"></path></svg><!----></span><!----><!----></button>
                </div>
            </div>
        </div><div data-v-23fce73e="" class="v-card-text">
            <div data-v-23fce73e="" class="d-flex align-center justify-space-between mb-3">
                <div data-v-23fce73e="" class="flex-grow-1"><h4 data-v-23fce73e="" class="text-h4 mb-1"> 8,258 </h4><span data-v-23fce73e="">Total Orders</span></div><div data-v-23fce73e="" style="position: relative;">
                    <div data-v-23fce73e="" class="vue-apexcharts" style="min-height: 111.7px;">
                        <div id="apexchartswu8e39zt" class="apexcharts-canvas apexchartswu8e39zt apexcharts-theme-light" style="width: 105px; height: 111.7px;">
                            <svg id="SvgjsSvg5528"
                                 width="105" height="111.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                 style="background: transparent;">
                                <g id="SvgjsG5530" class="apexcharts-inner apexcharts-graphical" transform="translate(-10, -7)">
                                    <defs id="SvgjsDefs5529"><clipPath id="gridRectMaskwu8e39zt"><rect id="SvgjsRect5532" width="135" height="133" x="-5" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskwu8e39zt"></clipPath><clipPath id="nonForecastMaskwu8e39zt"></clipPath><clipPath id="gridRectMarkerMaskwu8e39zt"><rect id="SvgjsRect5533" width="129" height="131" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG5534" class="apexcharts-pie">
                                        <g id="SvgjsG5535" transform="translate(0, 0) scale(1)">
                                            <circle id="SvgjsCircle5536" r="41.23170731707318" cx="62.5" cy="62.5" fill="transparent"></circle><g id="SvgjsG5537" class="apexcharts-slices">
                                                <g id="SvgjsG5538" class="apexcharts-series apexcharts-pie-series" seriesName="Fashion" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath5539"
                                                          d="M 62.5 7.524390243902431 A 54.97560975609757 54.97560975609757 0 0 1 117.42607487378908 60.16676897550931 L 103.69455615534181 60.75007673163198 A 41.23170731707318 41.23170731707318 0 0 0 62.5 21.26829268292682 L 62.5 7.524390243902431 z" fill="rgba(113,221,55,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                                                          stroke-width="6" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="87.56756756756756" data:startAngle="0" data:strokeWidth="6" data:value="45" data:pathOrig="M 62.5 7.524390243902431 A 54.97560975609757 54.97560975609757 0 0 1 117.42607487378908 60.16676897550931 L 103.69455615534181 60.75007673163198 A 41.23170731707318 41.23170731707318 0 0 0 62.5 21.26829268292682 L 62.5 7.524390243902431 z" stroke="#ffffff"></path>
                                                </g><g id="SvgjsG5540"
                                                       class="apexcharts-series apexcharts-pie-series" seriesName="Electronic" rel="2" data:realIndex="1">
                                                    <path id="SvgjsPath5541" d="M 117.42607487378908 60.16676897550931 A 54.97560975609757 54.97560975609757 0 0 1 13.410856481240792 87.25022538583016 L 25.683142360930596 81.06266903937262 A 41.23170731707318 41.23170731707318 0 0 0 103.69455615534181 60.75007673163198 L 117.42607487378908 60.16676897550931 z" fill="rgba(105,108,255,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                                                          stroke-width="6" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="155.67567567567568" data:startAngle="87.56756756756756" data:strokeWidth="6" data:value="80" data:pathOrig="M 117.42607487378908 60.16676897550931 A 54.97560975609757 54.97560975609757 0 0 1 13.410856481240792 87.25022538583016 L 25.683142360930596 81.06266903937262 A 41.23170731707318 41.23170731707318 0 0 0 103.69455615534181 60.75007673163198 L 117.42607487378908 60.16676897550931 z" stroke="#ffffff"></path>
                                                </g><g id="SvgjsG5542" class="apexcharts-series apexcharts-pie-series" seriesName="Sports" rel="3" data:realIndex="2">
                                                    <path id="SvgjsPath5543" d="M 13.410856481240792 87.25022538583016 A 54.97560975609757 54.97560975609757 0 0 1 8.758304668583285 50.91777866901549 L 22.193728501437462 53.81333400176162 A 41.23170731707318 41.23170731707318 0 0 0 25.683142360930596 81.06266903937262 L 13.410856481240792 87.25022538583016 z" fill="rgba(133,146,163,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="6" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2"
                                                          data:angle="38.918918918918905" data:startAngle="243.24324324324323" data:strokeWidth="6" data:value="20" data:pathOrig="M 13.410856481240792 87.25022538583016 A 54.97560975609757 54.97560975609757 0 0 1 8.758304668583285 50.91777866901549 L 22.193728501437462 53.81333400176162 A 41.23170731707318 41.23170731707318 0 0 0 25.683142360930596 81.06266903937262 L 13.410856481240792 87.25022538583016 z" stroke="#ffffff"></path>
                                                </g>
                                                <g id="SvgjsG5544" class="apexcharts-series apexcharts-pie-series" seriesName="Decor" rel="4" data:realIndex="3">
                                                    <path id="SvgjsPath5545" d="M 8.758304668583285 50.91777866901549 A 54.97560975609757 54.97560975609757 0 0 1 62.49040494606335 7.524391081228849 L 62.49280370954751 21.268293310921628 A 41.23170731707318 41.23170731707318 0 0 0 22.193728501437462 53.81333400176162 L 8.758304668583285 50.91777866901549 z" fill="rgba(3,195,236,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="6" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="77.83783783783787" data:startAngle="282.16216216216213" data:strokeWidth="6" data:value="40"
                                                          data:pathOrig="M 8.758304668583285 50.91777866901549 A 54.97560975609757 54.97560975609757 0 0 1 62.49040494606335 7.524391081228849 L 62.49280370954751 21.268293310921628 A 41.23170731707318 41.23170731707318 0 0 0 22.193728501437462 53.81333400176162 L 8.758304668583285 50.91777866901549 z" stroke="#ffffff"></path>
                                                </g>
                                            </g>
                                        </g><g id="SvgjsG5546" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)">
                                            <text id="SvgjsText5547" font-family="Public Sans" x="62.5" y="79.5" text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)"
                                                  class="apexcharts-text apexcharts-datalabel-label" style="font-family: &quot;Public Sans&quot;;">Weekly</text><text id="SvgjsText5548" font-family="Public Sans" x="62.5" y="61.5" text-anchor="middle" dominant-baseline="auto" font-size="24px" font-weight="400"
                                                                                                                                                                      fill="rgba(50,71,92,0.87)" class="apexcharts-text apexcharts-datalabel-value" style="font-family: &quot;Public Sans&quot;;">38%</text>
                                        </g>
                                    </g><line id="SvgjsLine5549" x1="0" y1="0" x2="125" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine5550" x1="0" y1="0" x2="125" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                                </g>
                                <g id="SvgjsG5531" class="apexcharts-annotations"></g>
                            </svg><div class="apexcharts-legend"></div>
                        </div>
                    </div><div class="resize-triggers"><div class="expand-trigger"><div style="width: 106px; height: 113px;"></div></div><div class="contract-trigger"></div></div>
                </div>
            </div><div data-v-23fce73e="" class="v-list v-theme--light v-list--density-default v-list--one-line card-list mt-7" role="listbox">
                <div data-v-23fce73e="" class="v-list-item v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--variant-text">
                    <!---->
                    <span class="v-list-item__underlay"></span><div class="v-list-item__prepend"><div data-v-23fce73e="" class="v-avatar v-theme--light text-primary v-avatar--density-default v-avatar--rounded v-avatar--size-default v-avatar--variant-tonal"><svg data-v-23fce73e="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light v-icon--size-default iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16.75 2h-10c-1.103 0-2 .897-2 2v16c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm-10 18V4h10l.002 16H6.75z"></path><circle cx="11.75" cy="18" r="1" fill="currentColor"></circle></svg><!----><span class="v-avatar__underlay"></span></div></div><div class="v-list-item__content"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  data-no-activator="">
                        <!----><!----><div data-v-23fce73e="" class="v-list-item-title mb-1">Electronic</div><div data-v-23fce73e="" class="v-list-item-subtitle text-disabled">Mobile, Earbuds, TV</div>
                    </div><div class="v-list-item__append"><span data-v-23fce73e="">82.5k</span></div>
                </div><div data-v-23fce73e=""
                           class="v-list-item v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--variant-text">
                    <!----><span class="v-list-item__underlay"></span><div class="v-list-item__prepend">
                        <div data-v-23fce73e="" class="v-avatar v-theme--light text-success v-avatar--density-default v-avatar--rounded v-avatar--size-default v-avatar--variant-tonal">
                            <svg data-v-23fce73e="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light v-icon--size-default iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M13 10.551v-.678A4.005 4.005 0 0 0 16 6c0-2.206-1.794-4-4-4S8 3.794 8 6h2c0-1.103.897-2 2-2s2 .897 2 2s-.897 2-2 2a1 1 0 0 0-1 1v1.551l-8.665 7.702A1.001 1.001 0 0 0 3 20h18a1.001 1.001 0 0 0 .664-1.748L13 10.551zM5.63 18L12 12.338L18.37 18H5.63z"></path></svg><!----><span class="v-avatar__underlay"></span>
                        </div>
                    </div><div class="v-list-item__content" data-no-activator=""><!----><!----><div data-v-23fce73e="" class="v-list-item-title mb-1">Fashion</div><div data-v-23fce73e="" class="v-list-item-subtitle text-disabled">Tshirt, Jeans, Shoes</div></div><div class="v-list-item__append"><span data-v-23fce73e="">23.8k</span></div>
                </div><div data-v-23fce73e="" class="v-list-item v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--variant-text">
                    <!----><span class="v-list-item__underlay"></span>
                    <div class="v-list-item__prepend">
                        <div data-v-23fce73e="" class="v-avatar v-theme--light text-info v-avatar--density-default v-avatar--rounded v-avatar--size-default v-avatar--variant-tonal">
                            <svg data-v-23fce73e=""
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light v-icon--size-default iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586l6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"></path>
                            </svg><!----><span class="v-avatar__underlay"></span>
                        </div>
                    </div><div class="v-list-item__content" data-no-activator=""><!----><!----><div data-v-23fce73e="" class="v-list-item-title mb-1">Decor</div><div data-v-23fce73e="" class="v-list-item-subtitle text-disabled">Fine Art, Dining</div></div><div class="v-list-item__append"><span data-v-23fce73e="">849</span></div>
                </div><div data-v-23fce73e="" class="v-list-item v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--variant-text">
                    <!----><span class="v-list-item__underlay"></span><div class="v-list-item__prepend">
                        <div data-v-23fce73e="" class="v-avatar v-theme--light text-secondary v-avatar--density-default v-avatar--rounded v-avatar--size-default v-avatar--variant-tonal">
                            <svg data-v-23fce73e="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light v-icon--size-default iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M19.071 4.929a9.936 9.936 0 0 0-7.07-2.938a9.943 9.943 0 0 0-7.072 2.938c-3.899 3.898-3.899 10.243 0 14.142a9.94 9.94 0 0 0 7.073 2.938a9.936 9.936 0 0 0 7.07-2.937c3.899-3.898 3.899-10.243-.001-14.143zM12.181 4h-.359c.061-.001.119-.009.18-.009s.118.008.179.009zm6.062 13H16l-1.258 2.516a7.956 7.956 0 0 1-2.741.493a7.96 7.96 0 0 1-2.746-.494L8 17.01H5.765a7.96 7.96 0 0 1-1.623-3.532L6 11L4.784 8.567a7.936 7.936 0 0 1 1.559-2.224a7.994 7.994 0 0 1 3.22-1.969L12 6l2.438-1.625a8.01 8.01 0 0 1 3.22 1.968a7.94 7.94 0 0 1 1.558 2.221L18 11l1.858 2.478A7.952 7.952 0 0 1 18.243 17z"></path>
                                <path fill="currentColor" d="m8.5 11l1.5 4h4l1.5-4L12 8.5z"></path>
                            </svg><!---->

                            <span class="v-avatar__underlay"></span>
                        </div>
                    </div><div class="v-list-item__content" data-no-activator=""><!----><!----><div data-v-23fce73e="" class="v-list-item-title mb-1">Sports</div><div data-v-23fce73e="" class="v-list-item-subtitle text-disabled">Football, Cricket Kit</div></div>

                    <div class="v-list-item__append"><span data-v-23fce73e="">99</span></div>
                </div>
            </div>
        </div><!----><!----><span class="v-card__underlay"></span>
    </div>
</div>
<div class="v-col-sm-6 v-col-md-4 v-col-12 order-3">
    <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated">
        <!----><div class="v-card__loader"><div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px; left: 50%; transform: translateX(-50%);"><!----><div class="v-progress-linear__background" style="width: 100%;"></div><div class="v-progress-linear__indeterminate"><div class="v-progress-linear__indeterminate long"></div><div class="v-progress-linear__indeterminate short"></div></div><!----></div></div><!----><!----><div class="v-card-item">
            <!----><div class="v-card-item__content">
                <!----><!----><div class="v-slide-group v-slide-group--is-overflowing v-tabs v-tabs--horizontal v-tabs--align-tabs-start v-tabs--density-default v-tabs-pill" tabindex="-1" role="tablist">
                    <!----><div class="v-slide-group__container">
                        <div class="v-slide-group__content" style="transform: translateX(0px);">
                            <button type="button" class="v-btn v-slide-group-item--active v-tab--selected v-theme--light text-primary v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="income">
                                <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!---->
                                <span class="v-btn__content" data-no-activator=""> Income <div class="v-tab__slider"></div></span><!----><!---->
                            </button><button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="expenses"><span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""> Expenses <div class="v-tab__slider"></div></span><!----><!----></button><button type="button" class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab" tabindex="-1" role="tab" aria-selected="false" value="profit"><span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator=""> Profit <div class="v-tab__slider"></div></span><!----><!----></button>
                        </div>
                    </div><!---->
                </div>
            </div><!---->
        </div><div class="v-card-text d-flex align-center gap-3">
            <div class="v-avatar v-theme--light v-avatar--density-default v-avatar--rounded v-avatar--variant-flat" style="width: 46px; height: 46px;">
                <div class="v-responsive v-img" aria-label="">
                    <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div><img class="v-img__img v-img__img--cover"
                                                                                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAABMCAMAAADwSaEZAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA2UExURWpq/7a4/2xt/6eo/2ls/25u/3Nz/0dwTLCy/2ls/5eZ/2ls/4iK/2ps/8PE/2ls/3h7/5OV/7y13W8AAAAOdFJOUyn7QKv4HhAAz+tptduj2oLR/QAAAPVJREFUWMPt2NEKgyAYhuHfTJet1O7/ZldrGzGW5fZCMXxPOnuQoIRPLo+sMfJVxtinIfPjS+gFLjArP2efGGDNmkDWXRsxgZowQ2FmxATrIpbDrBgOMyxWKpXeqnq31rXKtVyow+fq4DK1PqS65mEuiYU8rE5jFXmyPKwjMe9IzHeuXi8X205pEBs5EvOaxBSJ+RNiao7AhpjzxadPFfN+H0ksBg4bAohFEgunxdB3pkhseTTgCxhIzKshzv37L+gwrNlnNbuwdh/W7rvrNHfTTWfTzUa6lVLpqM67a6DzDTossZMXOsaxMyE6YLLTKjv6UnP0DYEtS0ErQtU8AAAAAElFTkSuQmCC" alt=""
                                                                                              style=""><!----><!----><!----><!----><!---->
                </div><!----><span class="v-avatar__underlay"></span>
            </div><div>
                <p class="mb-0">Total Income</p><div class="d-flex align-center gap-2">
                    <h6 class="text-h6">$459.1k</h6><span class="text-sm text-success">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24"
                             style="font-size: 24px; height: 24px; width: 24px;">
                            <path fill="currentColor" d="m6.293 13.293l1.414 1.414L12 10.414l4.293 4.293l1.414-1.414L12 7.586z"></path>
                        </svg> 65%
                    </span>
                </div>
            </div>
        </div><div class="v-card-text" style="position: relative;">
            <div class="vue-apexcharts" style="min-height: 241px;">
                <div id="apexchartsykfwotm6" class="apexcharts-canvas apexchartsykfwotm6 apexcharts-theme-light" style="width: 10px; height: 241px;">
                    <svg id="SvgjsSvg5551" width="10" height="241" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                        <g id="SvgjsG5553" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 10)">
                            <defs id="SvgjsDefs5552">
                                <clipPath id="gridRectMaskykfwotm6">
                                    <rect id="SvgjsRect5559" width="6" height="178.18038552602133" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                </clipPath><clipPath id="forecastMaskykfwotm6"></clipPath><clipPath id="nonForecastMaskykfwotm6"></clipPath><clipPath id="gridRectMarkerMaskykfwotm6"><rect id="SvgjsRect5560" width="35" height="211.18038552602133" x="-18" y="-18" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient5580" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop5581" stop-opacity="0.4" stop-color="#696cff" offset="0"></stop><stop id="SvgjsStop5582" stop-opacity="0.2" stop-color="#ffffff" offset="1"></stop></linearGradient>
                            </defs><line id="SvgjsLine5558" x1="0" y1="0" x2="0" y2="175.18038552602133" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="175.18038552602133" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG5585" class="apexcharts-xaxis" transform="translate(0, 0)">
                                <g id="SvgjsG5586" class="apexcharts-xaxis-texts-g" transform="translate(0, -10)">
                                    <text id="SvgjsText5588" font-family="Public Sans" x="0" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5589"></tspan><title></title></text><text id="SvgjsText5591" font-family="Public Sans" x="-0.14285714285714285" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 0.857142448425293 191.9803991317749)"><tspan id="SvgjsTspan5592">Jan</tspan><title>Jan</title></text><text id="SvgjsText5594"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            font-family="Public Sans" x="-0.2857142857142857" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5595"></tspan><title></title></text><text id="SvgjsText5597" font-family="Public Sans" x="-0.4285714285714285" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5598"></tspan><title></title></text><text id="SvgjsText5600"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               font-family="Public Sans" x="-0.5714285714285714" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5601"></tspan><title></title></text><text id="SvgjsText5603" font-family="Public Sans" x="-0.7142857142857142" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5604"></tspan><title></title></text><text id="SvgjsText5606" font-family="Public Sans" x="-0.857142857142857" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5607"></tspan><title></title></text>
                                    <text id="SvgjsText5609" font-family="Public Sans" x="-0.9999999999999998" y="198.18038552602133" text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="400" fill="rgba(50,71,92,0.38)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: &quot;Public Sans&quot;;" transform="rotate(-45 1 -1)"><tspan id="SvgjsTspan5610"></tspan><title></title></text>
                                </g>
                            </g><g id="SvgjsG5612" class="apexcharts-grid">
                                <g id="SvgjsG5613" class="apexcharts-gridlines-horizontal">
                                    <line id="SvgjsLine5615" x1="0" y1="0" x2="-1" y2="0" stroke="rgba(50,71,92,0.12)" stroke-dasharray="4.5" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                    <line id="SvgjsLine5616" x1="0" y1="43.79509638150533" x2="-1" y2="43.79509638150533" stroke="rgba(50,71,92,0.12)" stroke-dasharray="4.5" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine5617" x1="0" y1="87.59019276301066" x2="-1" y2="87.59019276301066" stroke="rgba(50,71,92,0.12)" stroke-dasharray="4.5" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine5618" x1="0" y1="131.38528914451598" x2="-1" y2="131.38528914451598" stroke="rgba(50,71,92,0.12)" stroke-dasharray="4.5" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine5619" x1="0" y1="175.18038552602133" x2="-1" y2="175.18038552602133" stroke="rgba(50,71,92,0.12)" stroke-dasharray="4.5" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                </g><g id="SvgjsG5614" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine5621" x1="0" y1="175.18038552602133" x2="-1" y2="175.18038552602133" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine5620" x1="0" y1="1" x2="0" y2="175.18038552602133" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                            </g><g id="SvgjsG5561" class="apexcharts-area-series apexcharts-plot-series">
                                <g id="SvgjsG5562" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0">
                                    <path id="SvgjsPath5583" d="M 0 175.18038552602133L 0 113.86725059191389C -0.049999999999999996 113.86725059191389 -0.09285714285714286 127.00577950636549 -0.14285714285714285 127.00577950636549C -0.19285714285714284 127.00577950636549 -0.2357142857142857 87.59019276301069 -0.2857142857142857 87.59019276301069C -0.3357142857142857 87.59019276301069 -0.37857142857142856 122.62626986821495 -0.42857142857142855 122.62626986821495C -0.47857142857142854 122.62626986821495 -0.5214285714285714 35.0360771052043 -0.5714285714285714 35.0360771052043C -0.6214285714285714 35.0360771052043 -0.6642857142857143 105.10823131561281 -0.7142857142857143 105.10823131561281C -0.7642857142857142 105.10823131561281 -0.8071428571428572 65.69264457225802 -0.8571428571428571 65.69264457225802C -0.9071428571428571 65.69264457225802 -0.95 91.96970240116121 -1 91.96970240116121C -1 91.96970240116121 -1 91.96970240116121 -1 175.18038552602133M -1 91.96970240116121z" fill="url(#SvgjsLinearGradient5580)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                                          stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskykfwotm6)"
                                          pathTo="M 0 175.18038552602133L 0 113.86725059191389C -0.049999999999999996 113.86725059191389 -0.09285714285714286 127.00577950636549 -0.14285714285714285 127.00577950636549C -0.19285714285714284 127.00577950636549 -0.2357142857142857 87.59019276301069 -0.2857142857142857 87.59019276301069C -0.3357142857142857 87.59019276301069 -0.37857142857142856 122.62626986821495 -0.42857142857142855 122.62626986821495C -0.47857142857142854 122.62626986821495 -0.5214285714285714 35.0360771052043 -0.5714285714285714 35.0360771052043C -0.6214285714285714 35.0360771052043 -0.6642857142857143 105.10823131561281 -0.7142857142857143 105.10823131561281C -0.7642857142857142 105.10823131561281 -0.8071428571428572 65.69264457225802 -0.8571428571428571 65.69264457225802C -0.9071428571428571 65.69264457225802 -0.95 91.96970240116121 -1 91.96970240116121C -1 91.96970240116121 -1 91.96970240116121 -1 175.18038552602133M -1 91.96970240116121z"
                                          pathFrom="M -1 218.97548190752667L -1 218.97548190752667L -0.14285714285714285 218.97548190752667L -0.2857142857142857 218.97548190752667L -0.42857142857142855 218.97548190752667L -0.5714285714285714 218.97548190752667L -0.7142857142857143 218.97548190752667L -0.8571428571428571 218.97548190752667L -1 218.97548190752667"></path>
                                    <path id="SvgjsPath5584" d="M 0 113.86725059191389C -0.049999999999999996 113.86725059191389 -0.09285714285714286 127.00577950636549 -0.14285714285714285 127.00577950636549C -0.19285714285714284 127.00577950636549 -0.2357142857142857 87.59019276301069 -0.2857142857142857 87.59019276301069C -0.3357142857142857 87.59019276301069 -0.37857142857142856 122.62626986821495 -0.42857142857142855 122.62626986821495C -0.47857142857142854 122.62626986821495 -0.5214285714285714 35.0360771052043 -0.5714285714285714 35.0360771052043C -0.6214285714285714 35.0360771052043 -0.6642857142857143 105.10823131561281 -0.7142857142857143 105.10823131561281C -0.7642857142857142 105.10823131561281 -0.8071428571428572 65.69264457225802 -0.8571428571428571 65.69264457225802C -0.9071428571428571 65.69264457225802 -0.95 91.96970240116121 -1 91.96970240116121"
                                          fill="none" fill-opacity="1" stroke="#696cff" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskykfwotm6)" pathTo="M 0 113.86725059191389C -0.049999999999999996 113.86725059191389 -0.09285714285714286 127.00577950636549 -0.14285714285714285 127.00577950636549C -0.19285714285714284 127.00577950636549 -0.2357142857142857 87.59019276301069 -0.2857142857142857 87.59019276301069C -0.3357142857142857 87.59019276301069 -0.37857142857142856 122.62626986821495 -0.42857142857142855 122.62626986821495C -0.47857142857142854 122.62626986821495 -0.5214285714285714 35.0360771052043 -0.5714285714285714 35.0360771052043C -0.6214285714285714 35.0360771052043 -0.6642857142857143 105.10823131561281 -0.7142857142857143 105.10823131561281C -0.7642857142857142 105.10823131561281 -0.8071428571428572 65.69264457225802 -0.8571428571428571 65.69264457225802C -0.9071428571428571 65.69264457225802 -0.95 91.96970240116121 -1 91.96970240116121"
                                          pathFrom="M -1 218.97548190752667L -1 218.97548190752667L -0.14285714285714285 218.97548190752667L -0.2857142857142857 218.97548190752667L -0.42857142857142855 218.97548190752667L -0.5714285714285714 218.97548190752667L -0.7142857142857143 218.97548190752667L -0.8571428571428571 218.97548190752667L -1 218.97548190752667"></path><g id="SvgjsG5563"
                                                                                                                                                                                                                                                                                                                                                                                       class="apexcharts-series-markers-wrap" data:realIndex="0">
                                        <g id="SvgjsG5565" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)"><circle id="SvgjsCircle5566" r="8" cx="0" cy="113.86725059191389" class="apexcharts-marker no-pointer-events wq4crtzo9" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="0" j="0" index="0" default-marker-size="8"></circle><circle id="SvgjsCircle5567" r="8" cx="-0.14285714285714285" cy="127.00577950636549" class="apexcharts-marker no-pointer-events wdmmjs8i6" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="1" j="1" index="0" default-marker-size="8"></circle></g><g id="SvgjsG5568" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)">
                                            <circle id="SvgjsCircle5569" r="8" cx="-0.2857142857142857" cy="87.59019276301069" class="apexcharts-marker no-pointer-events wcpsf864q" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="2" j="2" index="0" default-marker-size="8"></circle>
                                        </g><g id="SvgjsG5570" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)"><circle id="SvgjsCircle5571" r="8" cx="-0.42857142857142855" cy="122.62626986821495" class="apexcharts-marker no-pointer-events w8qz3ch0q" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="3" j="3" index="0" default-marker-size="8"></circle></g><g id="SvgjsG5572" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)"><circle id="SvgjsCircle5573" r="8" cx="-0.5714285714285714" cy="35.0360771052043" class="apexcharts-marker no-pointer-events w84blv0ux" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="4" j="4" index="0" default-marker-size="8"></circle></g><g id="SvgjsG5574" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)">
                                            <circle id="SvgjsCircle5575" r="8" cx="-0.7142857142857143" cy="105.10823131561281" class="apexcharts-marker no-pointer-events wk2egcahxh" stroke="transparent" fill="transparent" fill-opacity="1"
                                                    stroke-width="6" stroke-opacity="1" rel="5" j="5" index="0" default-marker-size="8"></circle>
                                        </g><g id="SvgjsG5576" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)">
                                            <circle id="SvgjsCircle5577" r="8" cx="-0.8571428571428571" cy="65.69264457225802" class="apexcharts-marker no-pointer-events w7v3g8e1w" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="6" j="6" index="0" default-marker-size="8"></circle>
                                        </g><g id="SvgjsG5578" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskykfwotm6)"><circle id="SvgjsCircle5579" r="8" cx="-1" cy="91.96970240116121" class="apexcharts-marker no-pointer-events wde017kci" stroke="#696cff" fill="#ffffff" fill-opacity="1" stroke-width="6" stroke-opacity="1" rel="7" j="7" index="0" default-marker-size="8"></circle></g>
                                    </g>
                                </g><g id="SvgjsG5564" class="apexcharts-datalabels" data:realIndex="0"></g>
                            </g><line id="SvgjsLine5622" x1="0" y1="0" x2="-1" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine5623" x1="0" y1="0" x2="-1" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG5624" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG5625" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG5626" class="apexcharts-point-annotations"></g><rect id="SvgjsRect5627" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect5628" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
                        </g>
                        <rect id="SvgjsRect5557" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
                        <g id="SvgjsG5611" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g>
                        <g id="SvgjsG5554" class="apexcharts-annotations"></g>
                    </svg>
                    <div class="apexcharts-legend" style="max-height: 120.5px;"></div><div class="apexcharts-tooltip apexcharts-theme-light">
                        <div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div>
                        <div class="apexcharts-tooltip-series-group" style="order: 1;">
                            <span class="apexcharts-tooltip-marker" style="background-color: rgb(105, 108, 255);"></span>
                            <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group">
                                    <span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span>
                                </div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div>
                    </div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
                </div>
            </div><div class="resize-triggers"><div class="expand-trigger"><div style="width: 59px; height: 266px;"></div></div><div class="contract-trigger"></div></div>
        </div><div class="v-card-text d-flex align-center justify-center gap-3">
            <div class="v-progress-circular v-theme--light text-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="65" style="width: 45px; height: 45px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.90243902439025 43.90243902439025" style="transform: rotate(calc(-90deg));">
                    <circle class="v-progress-circular__underlay" fill="transparent" cx="50%" cy="50%" r="20" stroke-width="3.9024390243902443" stroke-dasharray="125.66370614359172" stroke-dashoffset="0"></circle>
                    <circle class="v-progress-circular__overlay" fill="transparent" cx="50%" cy="50%" r="20" stroke-width="3.9024390243902443" stroke-dasharray="125.66370614359172" stroke-dashoffset="43.982297150257104px"></circle>
                </svg>
                <div class="v-progress-circular__content"><span class="text-xs text-medium-emphasis">6.5k</span></div>
            </div><div><h6 class="text-base font-weight-regular"><span class="text-capitalize">income</span><span> this week</span></h6><span class="text-sm text-disabled">$39k less than last week</span></div>
        </div><!----><!----><span class="v-card__underlay"></span>
    </div>
</div>
<div class="v-col-sm-6 v-col-md-4 v-col-12 order-3">
    <div data-v-af87e554="" class="v-card v-theme--light v-card--density-default v-card--variant-elevated">
        <!---->
        <div class="v-card__loader">
            <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px; left: 50%; transform: translateX(-50%);">
                <!----><div class="v-progress-linear__background" style="width: 100%;"></div><div class="v-progress-linear__indeterminate">
                    <div class="v-progress-linear__indeterminate long"></div><div class="v-progress-linear__indeterminate short"></div>
                </div><!---->
            </div>
        </div>
        <div class="v-card-item">
            <!----><div class="v-card-item__content"><div class="v-card-title">Transactions</div><!----><!----></div><div class="v-card-item__append">
                <div data-v-af87e554=""
                     class="me-n3 mt-n2">
                    <button data-v-af87e554="" type="button" class="v-btn v-btn--icon v-theme--light text-default v-btn--density-default v-btn--size-small v-btn--variant-text" aria-haspopup="menu" aria-expanded="false" aria-owns="v-menu-28">
                        <span class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span class="v-btn__content" data-no-activator="">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" tag="i" class="v-icon notranslate v-theme--light iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24" style="font-size: 24px; height: 24px; width: 24px;">
                                <path fill="currentColor" d="M10 10h4v4h-4zm0-6h4v4h-4zm0 12h4v4h-4z">

                                </path>
                            </svg><!---->
                        </span><!----><!---->
                    </button>
                </div>
            </div>
        </div><!---->
        <div class="v-card v-theme--light v-card--density-default v-card--variant-elevated">
            <div class="v-card__loader">
                <div class="v-progress-linear v-theme--light v-locale--is-ltr" role="progressbar" aria-hidden="true" aria-valuemin="0" aria-valuemax="100" style="top: 0px; height: 0px; --v-progress-linear-height: 2px; left: 50%; transform: translateX(-50%);">
                    <div class="v-progress-linear__background" style="width: 100%;"></div>
                    <div class="v-progress-linear__indeterminate">
                        <div class="v-progress-linear__indeterminate long"></div>
                        <div class="v-progress-linear__indeterminate short"></div>
                    </div>
                </div>
            </div>

            <div class="v-card-text d-flex justify-space-between h-100">
                <div class="d-flex flex-column justify-space-between gap-y-4">
                    <div>
                        <h6 class="text-h6 text-no-wrap mb-1">Profile Report</h6>
                        <span class="v-chip v-theme--light text-warning v-chip--density-comfortable elevation-0 v-chip--size-default v-chip--variant-tonal" draggable="false">
                            <span class="v-chip__underlay"></span>
                            <div class="v-chip__content">Year 2022</div>
                        </span>
                    </div>
                    <div>
                        <div class="text-success text-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="v-icon notranslate v-theme--light me-1 iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24" style="font-size: 18px; height: 18px; width: 18px;">
                                <path fill="currentColor" d="M11 8.414V18h2V8.414l4.293 4.293l1.414-1.414L12 4.586l-6.707 6.707l1.414 1.414z"></path>
                            </svg>
                            <span>68.2%</span>
                        </div>
                        <h5 class="text-h5">$84,686k</h5>
                    </div>
                </div>
                <div class="h-100 d-flex align-center" style="position: relative;">
                    <div class="vue-apexcharts" style="min-height: 131px;">
                        <div id="apexchartswbmc2yfh" class="apexcharts-canvas apexchartswbmc2yfh" style="width: 0px; height: 131px;">
                            <svg id="SvgjsSvg5524" width="0" height="131" xmlns="http://www.w3.org/2000/svg" version="1.1" class="apexcharts-svg" style="background: transparent;">
                                <g id="SvgjsG5527" class="apexcharts-annotations"></g>
                                <g id="SvgjsG5526" class="apexcharts-inner apexcharts-graphical">
                                    <defs id="SvgjsDefs5525"></defs>
                                </g>
                            </svg>
                            <div class="apexcharts-legend"></div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 1px; height: 132px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>
            <span class="v-card__underlay"></span>
        </div>

        <div class="v-card-text">
            <div class="v-list v-theme--light v-list--density-default v-list--one-line card-list" role="listbox">
                <div class="v-list-item v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--variant-text">
                    <span class="v-list-item__underlay"></span>
                    <div class="v-list-item__prepend">
                        <div class="v-avatar v-theme--light text-error v-avatar--density-default v-avatar--rounded v-avatar--size-default v-avatar--variant-tonal me-3">
                            <div class="v-responsive v-img" aria-label="">
                                <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                <img class="v-img__img v-img__img--cover" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAMAAAArteDzAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABLUExURf8+H/9WO/9+af9AIP9DI/9jSP9GJkdwTP9IKf9mM/9UN/+Jdv+Gcv9TNf9DI/98Zf91XP9WPP8+Hf8/Hv97Zf8+HP8+HP+Ld/8+HeRD/C8AAAAXdFJOUylaydQg2WgAEgVJ+vDUNOKVffXmuJGzNH5j8AAAAbZJREFUWMPtmddyxCAMRSnuYFhX+P8vjWtc4jIWIjPJ+Dz64Yy8V6A1kHgkTYKAOBEESTrJyKQkKEzaQYqkHLSzFNE5Wgmyc7CSOCXIpJ00wZYmMUEvtCuVJPjShAT40sCP9OXlN8mYNGuElLr+ZG5OYfYMT3ThIGXmDA2vVpxKjaBAJzUXSGCtxZXUMJj0cyk1FDmngRok1ddSiR3+0ACg1jc3QPKP7qQKP3wjOcBa30i1bdE7yuTWPm9VeSPl9nmp6sYpSmtLhbmddIS2I0IOn/fSAjd83Tttgxq+qCykUnnXTz0UczsJR6dViOHPTo43S8T07s9zOu+osJqdj3/S4/CFzhfl47ffzhIZduR5zku7JnKaJaE9onWbJYfSSrnNkvzImTnOEv7TyTPXWVLulWUDGHrbjpL7KgvIIN1tJ3oJvGmKCGbcz5Lv8EunP+b0OHzuJD0Jv0WUVtBd6eL1BXyxn/fpskjdvqC6TbpmjNWs352W1kf65tss0MqHtEWSNusFT5Gkql2cEUEji0aoIi8v/4q/c37q5fjYy0G3lyN5P5cHXq45/FzI+Lk68nPJhX0d9wXmNHzutiJOQQAAAABJRU5ErkJggg==" alt="" style="">
                            </div>
                        </div>
                    </div>
                    <div class="v-list-item__content" data-no-activator="">
                        <div class="v-list-item-subtitle text-disabled mb-1">Paypal</div>
                        <div class="v-list-item-title">Send money</div>
                    </div>
                    <div class="v-list-item__append">
                        <div class="v-list-item-action">
                            <span class="me-1">+$82.6</span>
                            <span class="text-disabled">USD</span>
                        </div>
                    </div>
                </div>
                <!-- Repeat the .v-list-item block for each transaction -->
            </div>
        </div>
        <!----><!---->
        <span class="v-card__underlay"></span>
    </div>
</div>