<aside class="layout-vertical-nav visible scrolled overlay-nav">
    <div class="nav-header">
        <a href="/" class="app-logo d-flex align-center gap-x-3 app-title-wrapper">
            <div class="d-flex">
                <svg width="22" height="32" viewBox="0 0 55 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M30.1984 0.0144043C24.8945 0.425781 25.2534 6.16968 26.6435 7.65326C22.693 10.3649 13.1875 16.8867 6.76944 21.2803C1.21531 25.0824 -0.842975 34.6064 1.11159 40.8262C3.00952 46.8658 12.4904 51.3615 17.5337 52.7256C17.5337 52.7256 11.7188 56.0269 6.60358 60.0482C1.48831 64.0695 -0.622615 69.3436 3.06836 75.262C6.75933 81.1805 12.725 80.761 17.5257 78.6229C22.3264 76.4848 32.1683 69.1692 37.9402 65.1633C42.7282 61.5411 43.9669 53.6444 41.7631 46.9643C39.9758 41.5468 30.0969 36.4284 25.1792 34.6064C27.1946 33.1595 32.4935 29.4242 37.129 26.0909C38.7184 30.5636 43.9998 30.212 45.6103 27.8209C47.6216 23.4326 51.8339 13.4663 53.9579 8.55175C54.8862 4.81044 52.5639 2.78457 50.2227 2.35938C46.8672 1.75 38.3222 0.960115 30.1984 0.0144043Z"></path>
                    <path fill-opacity="0.2" fill="#FFF" d="M26.6523 7.65625C24.9492 5.625 25.3239 0.255308 30.2922 0.0105286C33.0074 0.326611 35.7804 0.62685 38.3907 0.909477C43.5904 1.47246 48.1446 1.96556 50.311 2.3748C52.7331 2.83234 54.886 5.06072 53.9543 8.61103C53.2063 10.3418 52.2075 12.6646 51.1482 15.1282C49.1995 19.6601 47.0459 24.6685 45.8717 27.3445C44.7224 29.964 39.111 31.0585 37.1137 26.0951C32.4782 29.4283 27.2884 33.1556 25.273 34.6026C24.931 34.4553 24.3074 34.2381 23.5124 33.9613C20.8691 33.0407 16.331 31.4602 13.9477 29.5966C9.61363 25.5918 11.6259 19.4662 13.1737 16.904C17.8273 13.7183 20.7417 11.7161 23.4984 9.82236C24.5437 9.10427 25.5662 8.40178 26.6523 7.65625Z"></path>
                    <path fill-opacity="0.2" fill="#FFF" d="M17.543 52.7266C21.2241 53.9875 28.5535 57.0509 30.091 59.101C32.0129 61.6635 33.1576 64.34 29.2527 71.2039C28.5954 71.6481 27.9821 72.0633 27.4069 72.4528C22.1953 75.9817 20.1085 77.3946 16.6243 79.0531C13.5855 80.2464 6.61575 81.7103 2.66559 74.5653C-1.11764 67.7222 3.23818 62.7113 6.5963 60.065L12.1695 56.0339L14.8359 54.3477L17.543 52.7266Z"></path>
                </svg>
            </div>
            <h1 class="leading-normal"> sneat </h1>
        </a>
    </div>
    <div class="vertical-nav-items-shadow"></div>
    <ul class="ps nav-items">
        <li class="nav-link">
            <a href="/" class="router-link-active router-link-exact-active">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="v-icon notranslate v-theme--light v-icon--size-default nav-item-icon iconify iconify--bx" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586l6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"></path>
                </svg>
                <span class="nav-item-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-link">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="v-icon notranslate v-theme--light v-icon--size-default nav-item-icon iconify iconify--mdi" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 4a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4m0 2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m7 6c-.16 0-.24.08-.24.24l-.26 1.26c-.22.18-.54.34-.78.5l-1.28-.5c-.08 0-.24 0-.32.1l-.96 1.76c-.08.08-.08.24.08.32l1.04.82v1l-1.04.82c-.08.08-.16.24-.08.32l.96 1.76c.08.1.24.1.32.1l1.28-.5c.24.16.56.32.78.5l.26 1.26c0 .16.08.24.24.24h2c.08 0 .24-.08.24-.24l.16-1.26c.32-.18.64-.34.96-.5l1.28.5c.08 0 .24 0 .32-.1l.96-1.76c.08-.08.08-.24-.08-.32l-1.04-.82v-1l1.04-.82c.08-.08.16-.24.08-.32l-.96-1.76c-.08-.1-.24-.1-.32-.1l-1.28.5c-.24-.16-.56-.32-.96-.5l-.16-1.26c0-.16-.08-.24-.24-.24h-2m1 2h.76c.22 0 .46.08.64.16c.18.1.3.28.3.5c0 .22-.12.4-.3.5c-.18.08-.42.16-.64.16H18v.74c0 .3-.24.6-.6.6c-.34 0-.6-.3-.6-.6v-.74h-.74c-.3 0-.6-.26-.6-.6c0-.34.3-.6.6-.6h.74V14c0-.3.26-.6.6-.6c.36 0 .6.3.6.6v.74Z"></path>
                </svg>
                <span class="nav-item-title">Users</span>
            </a>
        </li>
        <!-- Diğer menü öğeleri burada eklenebilir -->
    </ul>
</aside>
